<div class="row">
  <div class="span8 offset2">
    <h3>A simple tool to help the church life go on in a good way.</h3>
    
    <h4>The need for adequate arrangement</h4>
    <p>The ministry is full of burden on both the adequate arrangement and the proper work of life.</p>
    <blockquote>
      The church definitely needs leading. Most brothers and sisters will not take care of the new ones simply because the elders have spoken about it and made a few announcements; rather, we need to find a way to lead the saints and make arrangements for them. There is a need for some administration, regardless of the situation. Even in regard to cleaning the meeting hall, we must arrange chairs for the meeting in an orderly way and not simply pile them up haphazardly. In addition, we also need to keep the things for public use in prearranged places. Even in a small district, there is the need for a proper arrangement; this is what is involved in leading. With this kind of leading, the church life will have a pathway upon which it can advance steadily and sequentially in every aspect and according to every step. Both the individual saints and the church will be able to advance.
    </blockquote>    
    <blockquote>
      As we lead the church and the work, we should not rely too much upon organization. This does not mean that we should not have any arrangement. No matter what we do or what kind of move we have, there is a need for some arrangement. Without a certain amount of arrangement, it is difficult to move; hence, there is a need for some arrangement. However, to work merely by organization is the way of degraded Christianity.
    </blockquote>    
    <p>While life is something that tools cannot help with, the practical arrangement is something that can be helped. Hopefully, a good practical arrangement will help the work to be in life.</p>

    <h4>Problems in practical event planning</h4>
    <ul>
      <li>Many saints are burdened to partcipate but don't have a way into the coordination.</li>
      <li>The need for adequate fellowship, prayer, and release of the burden during the coordination of an event sometimes leaves little room for the practical planning of the event in a good way.</li>
      <li>There is a need of a paper trail to make sure the event is planned in a good way and also to make planning future events easier.</li>
    </ul>

    <h4>In coordination and in the flow</h4>
    <p>Please use this tool to facilitate:</p>
    <ul>
      <li>Involving the saints</li>
      <li>Coordination with the campus team</li>
      <li>Planning large scale events</li>
      <li>More prayer</li>
      <li>More activities with your vital companions</li>
    </ul>
    <br>
    <a href="/">Back Home</a>
    <br>
    <br>
  </div>
</div>