<div class="row grayed">
  <div class="span7">
    <h2 class='banner'>Event Planner is a <span class="green">simple</span>, <span class="blue">collaborative</span>, and <span class="orange">efficient</span> tool for planning lots of events.</h2>
  </div>
  <div class="span5">
    <div class="box">
      <h2>Try it out now!</h2>

<%= link_to "Create a new Event.", "/events/new_event", :class => "btn btn-large btn-custom" %>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="span4">
    <h3>Event planning under control.</h3>
    <p>Your master list to make sure every detail of your event is taken care of.</p>
    <%= image_tag "ep_list.png" %>    
  </div>
  <div class="span4">
    <h3>Delegate and Direct.</h3>
    <p>Assign items to people and send them email reminders with just one click.</p>
    <%= image_tag "ep_people.png" %>
  </div>
  <div class="span4">
    <h3>Built with speed in mind.</h3>
    <p>A snappy interface, reusable templates, and minimal approach makes event planning fast, efficient and fun. </p>
    <%= image_tag "ep_speed.png" %>
  </div>
</div>

<br><br><br>