<% content_for :header do %>
	<%= render "/layouts/navhome" %>
<% end %>

<div class="box">
  <div class="row">
    <div class="offset7 span5 leftside">
      <div class="padding">
        <h2>Event planning made simple.</h2>
        <a href="/events" title="" class="btn btn-large btn-custom">Create a New Event.</a>
      </div>
    </div>
    <div class="span6"></div>
  </div>
</div>
