<div class="row">  
  <div class="offset1 span5" id="section-head">
    <table class="eptable header">
      <tr class="shade3">
        <td class="leadin">Title:</td>
        <td class="main">Test title</td>
      </tr>
      <tr class="shade2">
        <td class="leadin">Today:</td>
        <td class="sub"><%= Date.today.strftime("%B %e, %Y") %></td>
      </tr>
    </table>
  </div>
  