<form id="new-event" name="event">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="location"> location:</label>
    <input type="text" name="location" id="location" value="<%= location %>" >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value="<%= date %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>

<a href="#/index">Back</a>