<h1>Listing items</h1>

<table id="items-table">
  <tr>
    <th>Description</th>
    <th>Result</th>
    <th>Completed by</th>
    <th>Days before</th>
    <th>Parent</th>
    <th>Person in charge</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Items</a>